@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
html{
    font-family: 'Nunito', sans-serif;
    background: #D3CCE3;  
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    
}
.neo{
    font-family: 'Edu TAS Beginner', cursive;
}